<!DOCTYPE html>
<html>
	<head>

		<title>{PUB:SEO_TITLE}</title>
		<meta name="Description" content="{PUB:SEO_DESC}" />
		<base href="{PRIV.BASE.HREF}" />
		{PUB:SEO_CONV_HEAD}

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	    <!-- Bootstrap -->
		<link href="assets/maintenance/css/style.css" rel="stylesheet">
	    <script src="assets/maintenance/js/loader.js"></script>

		<!--[if IE]>
			<script src="assets/maintenance/compat/respond.src.js"></script>
			<link rel="stylesheet" href="assets/maintenance/compat/ie.css">
			<link rel="stylesheet" href="assets/maintenance/compat/ie8.css">
			<script src="assets/maintenance/compat/ie8.js"></script>
		<![endif]-->

		<!--[if gte IE 9]>
		  <style type="text/css">
		    .gradient {
		       filter: none;
		    }
		  </style>
		<![endif]-->

	</head>

    <body data-lang="{PUB:LANG}" class="">
		{PB_EVENTS}
		{PUB:SEO_CONV_BODY}

	</body>
	
</html>