<!--S:Main--><!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Instaler</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900,700italic,500italic' rel='stylesheet' type='text/css'>

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- JavaScript -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/custom.js"></script>

	<!-- Stylesheets -->

	<link rel="stylesheet" href="assets/css/style.css" />

</head>
<body>
	<div class="container-m-tb container">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-container">
					<div class="logo"><img src="assets/img/logo.png" alt="Logo"></div>
					<div class="left-bar-nav">
						{MENU}
					</div>
				</div>
			</div>

			<div class="col-sm-9">
				<div class="se-slope">
					<div class="right-container  container-stage-1">
						{PAGE}
						{CONTENT}
					</div>
				</div>

				<div class="credits">
					powered by <span id="stempora"></span>
				</div>

			</div>


		</div>
	</div>
</body>
</html><!--E:Main-->