<!--S:Main-->
						<div class="content">
							<div class="description">
								<p>All the listed technical requirements must be met in order to continue to the next step. Fix any issues you may be having (red-colored) and click on the refresh button to check if everything is OK.</p>

								<p>In case you need help, you can apply for the installation service on <a href="http://devsaver.com/contact/?department=8" target="_blank">devsaver.com</a>.</p>

							</div>

							<div class="center center-table scrollbar" id="ex3">
									{CONTENT}
							</div>

							<div class="action-button">
								<a href="index.php?step=3" class="btn btn-actions-green-g">Refresh</a>
								{BUTTON}
							</div>
						</div>	
<!--E:Main-->


<!--S:Group-->
									<table class="table">
										{DATA}
									</table>
<!--E:Group-->

<!--S:Element-->
										<tr>
											<td>{TITLE}</td>
											<td>
												<p class="{CLASS}"><span></span>{VALUE}</p>
											</td>
										</tr>
<!--E:Element-->


<!--S:Next-->
								<a href="index.php?step=4" class="btn btn-actions-green btn-next">Next step</a>
<!--E:Next-->