<!--S:Main-->
						<div class="content">
							<div class="description">

								<p>Well done! The installation was completed successfully. Make sure to save your login credentials.</p>
							</div>
							<div class="center">
								<form action="">
									<p class="your-date">

										<table>
											<tr>
												<td valign="top" width="100">Admin: </td>
												<td><a href="{LINK}admin/" target="_blank">{LINK}admin/</a></td>
											</tr>
											<tr>
												<td valign="top" >Website: </td>
												<td><a href="{LINK}" target="_blank">{LINK}</a></td>
											</tr>
											<tr>
												<td>Username: </td>
												<td><span>{USER}</span></td>
											</tr>
											<tr>
												<td>Password: </td>
												<td><span>{PASS}</span></td>
											</tr>
											<tr>
												<td>Email: </td>
												<td><a href="#"> {EMAIL}</a></td>
											</tr>
										</table>

									</p>
								</form>
							</div>

							<div class="description">
								<p><br>Click the button bellow to launch the administration panel and finalize the modules installation.</p>
							</div>

							<div class="action-button">
								<a href="{LINK}admin/" target="_blank" class="btn btn-actions-green">Launch Admin Panel</a>
							</div>

						</div>

<!--E:Main-->