<!--S:Main-->

						<div class="content">
							<div class="description">

								<p>The installer will now check the integrity of your files. If all you’re getting is errors, then you wrongly uploaded the files in binary mode. Re-upload them correctly and restart the installation.</p>

								<p>In case you need help, you can apply for the installation service on <a href="http://devsaver.com/contact/?department=8" target="_blank">devsaver.com</a>.</p>

							</div>
							<div class="action-button">
								<a href="#" class="btn btn-actions-green check-start">Start Check</a>
							</div>

							<div class="check-info">
							
							We recommend that you fix all errors before continuing!<br>
							If you want to ignore this and continue at your own risk <a href="index.php?step=3">click here</a>.
							
							</div>

							<div class="check-progress">
								<div class="status-hold">
									<div class="status" style="width: 0%"></div>
								</div>
								<div class="status-perc">--</div>

							</div>
							<div class="check-result" data-url="index.php?step=2&action=check-files"></div>
						</div>
<!--E:Main-->