<!--S:Main-->

						<div class="content">
							<div class="description">
								<p>Almost there. Don’t refresh or do anything else until this step is completed.</p>
							</div>
							<div class="action-button">
								<a href="#" class="btn btn-actions-green install-start">Start Installing</a>
							</div>

							<div class="install-progress">
								<div class="status-hold">
									<div class="status" style="width: 0%"></div>
								</div>
								<div class="status-perc">--</div>

							</div>

							<div class="install-result" data-url="index.php?step=6&action=install"></div>
						</div>
<!--E:Main-->