<!--S:Main-->

						<div class="content">
							<div class="description">
								<p>Before starting the installation process, you must give writing permissions to the “upload” folder located in your website’s root (chmod 777).</p>

								<p>You also need to have the login info to an existing MySQL database.</p>
								<p>In case you need help, you can apply for the installation service on <a href="http://devsaver.com/contact/?department=8" target="_blank">devsaver.com</a>.</p>

							</div>
							<div class="action-button">
								<a href="index.php?step=2" class="btn btn-actions-green">START INSTALL</a>
							</div>
						</div>
<!--E:Main-->